@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cute Notes';
  src: url('/CuteNotes.woff2')  format('woff2');
}

html {
  color: #ffffff;
  background: radial-gradient(50% 50% at 50% 50%, #FC7D47 0%, #FC6447 100%);
  font-family: "Arial Rounded MT Bold", sans-serif;
}

body {
  background-image: url('/buildings.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div > h2 {
  @apply font-bold text-2xl;
}

div > p {
  @apply text-lg;
}

div#grid > div {
  @apply flex flex-col gap-3;
}

#hero h1 {
  font-family: "Cute Notes", sans-serif;
}

/* Fixes Tailwind h-screen on iPhones */
@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

/* Fixes outline style for inputs on Safari */
input:focus { outline: none; }