@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cute Notes';
  src: url('/CuteNotes.woff2')  format('woff2');
}

html {
  color: #ffffff;
  background: radial-gradient(50% 50% at 50% 50%, #FC7D47 0%, #FC6447 100%);
  font-family: "Arial Rounded MT Bold", sans-serif;
}

main {
  background-image: url('/buildings.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
}

div > h2 {
  @apply font-bold text-2xl;
}

div > p {
  @apply text-lg;
}

div#grid > div {
  @apply flex flex-col gap-3;
}

#hero h1 {
  font-family: "Cute Notes", sans-serif;
}

/* Fixes Tailwind h-screen on iPhones */
@supports (-webkit-touch-callout: none) {
    .h-screen {
      height: -webkit-fill-available;
    }
  }

/* Fixes outline style for inputs on Safari */
input:focus { outline: none; }

.banner {
  position: fixed;
  top: 0;
  left: 0;
}

.banner img {
  max-width: 40%;
}

.banner:hover img {
  animation: wave-flag 0.5s linear infinite alternate;
  transform-origin: top left;
}

@media (prefers-reduced-motion: reduce) {
  .banner:hover img {
    transition: 0.1875s cubic-bezier(0.375, 0, 0.675, 1) transform;
    transform-origin: top left;
  }
}

@keyframes wave-flag {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}